﻿
@{
    ViewBag.Title = "Index";
}

@using WD_DZ_PR_034_2018.Models;

<!DOCTYPE html>
<html>
    <head>
        <title>Kupovine</title>
    </head>
    <body>
        @{
            var user = (Korisnik)HttpContext.Current.Session["korisnik"];

            if (user != null)
            {
                var kupovine = (List<Kupovina>)HttpContext.Current.Session["kupovine"];

                if (kupovine != null)
                {

                    if (kupovine.Count != 0)
                    {
                        <table border="1">
                            @foreach (var kupovina in kupovine)
                            {
                                <tr>
                                    <th>
                                        <p>
                                            Kupac:@kupovina.Kupac.KorisnickoIme
                                        </p>
                                        @foreach (var ploca in kupovina.IzabranePloce.Keys)
                                        {
                                            <p>
                                                Ploca:@ploca.Naziv
                                            </p>
                                            <p>
                                                Kolicina:@kupovina.IzabranePloce[ploca]
                                            </p>
                                        }
                                        <p>
                                            Ukupno placeno:@kupovina.UkupnoPlaceno
                                        </p>
                                        <p>
                                            Datum:@kupovina.DatumKupovine.ToString()
                                        </p>
                                    </th>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <h2>Nemate registrovanih kupovina.</h2>
                    }
                }
                else
                {
                    <h2>Nemate registrovanih kupovina.</h2>
                }

            }
            else
            {
                <h2>Niste se prijavili.</h2>
            }
        }


        <br />
        <form action="~/Home/Index" method="get">
            <input type="submit" value="Pocetna strana" />
        </form>

    </body>
</html>
