﻿
@{
    ViewBag.Title = "Dodaj Radnju";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Dodaj Radnju</title>
    </head>
    <body>

        @if (ViewBag.msg != null)
        {
            <h2> @ViewBag.msg</h2>
        }

        <form action="~/Home/AddShop" method="post">
            <table border="1">
                <tr>
                    <td>
                        <p>Naziv:</p>
                        <input type="text" name="Naziv" required pattern=".{1,}" title="Minimum 1 karakter" />

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Adresa:</p>
                        <input type="text" name="Adresa" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Dodaj" />
                    </td>
                </tr>
            </table>
        </form>

        <br />
        <form action="~/Home/Index" method="get">
            <input type="submit" value="Pocetna strana" />
        </form>
    </body>
</html>