﻿
@{
    ViewBag.Title = "Index";
}

@using WD_DZ_PR_034_2018.Models;

<!DOCTYPE html>

@using WD_DZ_PR_034_2018.Models;
@{
    List<Radnja> radnje = (List<Radnja>)HttpContext.Current.Application["radnje"];
}

<html>
    <head>
        <title>Pocetna stranica</title>
    </head>

    <body>

        <h2>Kupovina Gramofonskih Ploca</h2>

        @{
            bool userSigned = (Korisnik)HttpContext.Current.Session["korisnik"] != null;
        }

        <table>
            <tr>
                @if (userSigned)
                {
                    <th>
                        <form action="~/Cart/Index" method="get">
                            <input type="submit" value="Moja korpa" />
                        </form>
                    </th>
                    <!--Postavi da moze da se prebaci na kupovine korisnika-->
                    <th>
                        <form action="~/Buys/Index" method="get">
                            <input type="submit" value="Moje kupovine" />
                        </form>
                    </th>
                    <th>
                        <form action="~/Home/LogOut" method="get">
                            <input type="submit" value="Odjava" />
                        </form>
                    </th>
                }
                else
                {
                    <th>
                        <form action="~/Home/Register" method="get">
                            <input type="submit" value="Registruj se" />
                        </form>
                    </th>
                    <th>
                        <form action="~/Home/LogIn" method="get">
                            <input type="submit" value="Prijavi se" />
                        </form>
                    </th>
                }
            </tr>
        </table>

        <br />

        @if (radnje.Count != 0 && radnje != null)
        {
            <h2>Dostupne radnje:</h2>

            <table border="1" style="width:12%; text-align:center" >
                <!-- Tabela za prikaz radnji -->
                @for (int i = 0; i < radnje.Count; i++)
                {
                    <tr>
                        <td>
                            <form action="~/Shop/Index" method="post">
                                <input type="hidden" value="@radnje[i].Naziv" name="shopName" />
                                <input type="submit" value="@radnje[i].Naziv" name="@radnje[i].Naziv" />

                            </form>
                        </td>
                        @if (((Korisnik)HttpContext.Current.Session["korisnik"]) != null)
                        {
                            if (((Korisnik)HttpContext.Current.Session["korisnik"]).Uloga == ULOGA_KORISNIKA.ADMIN)
                            {
                                <td>
                                    <form action="~/Shop/DeleteShop" method="post">
                                        <input type="hidden" value="@radnje[i].Naziv" name="shopName" />
                                        <input type="submit" value="Izbrisi radnju" name="@radnje[i].Naziv" />
                                    </form>
                                </td>
                            }
                        }
                    </tr>
                }
            </table>
        }
        else
        {
            <h2>Nemamo dostupnih radnji.</h2>
        }

        @if ((Korisnik)HttpContext.Current.Session["korisnik"] != null)
        {
            if (((Korisnik)HttpContext.Current.Session["korisnik"]).Uloga == ULOGA_KORISNIKA.ADMIN)
            {
                <br />
                <form action="~/Home/AddShop" method="get">
                    <input type="submit" value="Dodaj radnju"/>
                </form>
            }
        }

        @{
            var korisnici = (List<Korisnik>)HttpContext.Current.Application["korisnici"];

            var korisnikAplikacije = (Korisnik)HttpContext.Current.Session["korisnik"];

            if (korisnikAplikacije != null)
            {
                if (korisnikAplikacije.Uloga == ULOGA_KORISNIKA.ADMIN)
                {
                    if (korisnici != null)
                    {
                        if (korisnici.Count != 0)
                        {
                            <h2>Korisnici aplikacije:</h2>
                            <table>
                                @foreach (var korisnik in korisnici)
                                {
                                    if (korisnik.Uloga == ULOGA_KORISNIKA.KUPAC)
                                    {
                                        <tr>
                                            <td>
                                                @korisnik.KorisnickoIme
                                            </td>
                                            <td>
                                                <form action="~/Home/DeleteUser" method="post">
                                                    <input type="hidden" value="@korisnik.KorisnickoIme" name="userName" />
                                                    <input type="submit" value="Izbrisi korisnika" name="@korisnik.KorisnickoIme" />
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        }
                    }
                }
            }
        }


    </body>
</html>