﻿
@{
    ViewBag.Title = "LogIn";
}

<!DOCTYPE html>

<html>
<head>
    <title>Prijava</title>
</head>

<h2>Prijava</h2>

<body>

    @if (!String.IsNullOrEmpty(ViewBag.msg))
    {
        <h2>@ViewBag.msg</h2>
    }

    <form action="~/Home/LogIn" method="post">
        <table border="1">
            <tr>
                <th>
                    Koriscniko ime:
                </th>
                <td>
                    <input type="text" required name="KorisnickoIme" />
                </td>
            </tr>

            <tr>
                <th>
                    Lozinka:
                </th>
                <td>
                    <input type="password" required name="Sifra" />
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="submit" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
