﻿
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Registracija</title>
    </head>
    
    <h2>Registracija</h2>    

    @if (!String.IsNullOrEmpty(ViewBag.msg))
    {
        <h2>@ViewBag.msg</h2>
    }

    <body>
        <form action="~/Home/Register" method="post">
            <table border="1">
                <tr>
                    <th>
                        Koriscniko ime:
                    </th>
                    <td>
                        <input type="text" required name="KorisnickoIme" pattern=".{3,}" title="Minimum 3 karaktera" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Sifra:
                    </th>
                    <td>
                        <input type="password" required name="Sifra" pattern="([A-Z]|[a-z]|[0-9]){8,}" title="Mora imati minimalno 8 karaktera, slova i brojevi"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        Ime:
                    </th>
                    <td>
                        <input type="text" required name="Ime"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        Prezime:
                    </th>
                    <td>
                        <input type="text" required name="Prezime"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        Pol:
                    </th>
                    <td>
                        <select name="Pol">
                            <option>M</option>
                            <option>Z</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        Email:
                    </th>
                    <td>
                        <input type="email" required name="Email" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Datum Rodjenja:
                    </th>
                    <td>
                        <input type="date" required name="DatumRodjenja"/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Registruj se"/>
                    </td>
                </tr>
            </table>
        </form>

    </body>
</html>
