﻿
@{
    ViewBag.Title = "Index";
}

@using WD_DZ_PR_034_2018.Models;

<!DOCTYPE html>
<html>
    <head>
        <title>Korpa</title>
    </head>
    <body>

        @if (HttpContext.Current.Session["korisnik"] != null)
        {
            Dictionary<GramofonskaPloca, uint> korpa = (Dictionary<GramofonskaPloca, uint>)HttpContext.Current.Session["korpa"];

            if (korpa != null)
            {
                if (korpa.Count != 0)
                {
                    <table border="1">
                        @foreach (var item in korpa)
                        {
                            <tr>
                                <th>
                                    <p>
                                        Naziv:@item.Key.Naziv
                                    </p>
                                    <p>
                                        Kolicina:@item.Value.ToString()
                                    </p>
                                    <p>
                                        Cena:@item.Key.Cena.ToString()
                                    </p>
                                    <p>
                                        Radnja:@item.Key.Radnja
                                    </p>
                                </th>
                            </tr>
                        }

                        @if (ViewBag.ukupnaCena != null)
                        {

                            <tr>
                                <td>
                                    <p>
                                        Ukupna cena: @((uint)ViewBag.ukupnaCena)
                                    </p>
                                </td>
                            </tr>
                        }
                    </table>

                    <br />

                    <form action="~/Cart/CheckOut" method="get">
                        <input type="hidden" value="@ViewBag.ukupnaCena" name="ukupnaCena" />
                        <input type="submit" value="Kupi" />
                    </form>
                }
                else
                {
                    <h2>Korpa Vam je prazna</h2>
                }
            }

        }
        else
        {
            <h2>Niste prijavljeni.</h2>
        }


        <br />
        <form action="~/Home/Index" method="get">
            <input type="submit" value="Pocetna strana" />
        </form>

    </body>
</html>
