﻿
@{
    ViewBag.Title = "Dodavanje Ploce";
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Dodavanje Ploce
        </title>
    </head>
    <body>

        @if (ViewBag.msg != null)
        {
            <h2>@ViewBag.msg</h2>
        }

        <form action="~/Shop/AddPloca" method="post">
            <table border="1">
                <tr>
                    <td>
                        <p>Naziv:</p>
                        <input type="text" name="Naziv" required pattern=".{1,}" title="Minimum 1 karakter" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Izvodjac:</p>
                        <input type="text" name="Izvodjac" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Stanje:</p>
                        <select name="Stanje">
                            <option value="0">Nova</option>
                            <option value="1">Polovna</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Zanr:</p>
                        <input type="text" name="Zanr" required  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Opis:</p>
                        <input type="text" name="Opis" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Cena:</p>
                        <input type="number" name="Cena" required min="0" max="30000" title="Cena mora biti izmedju 0 i 30 000" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Broj Kopija:</p>
                        <input type="number" name="BrojKopija" required min="0" max="1000" title="Broj kopija mora biti izmedju 0 i 1 000" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Dodaj" name="Dodaj" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
