﻿
@{
    ViewBag.Title = "ChangePloca";

}

@using WD_DZ_PR_034_2018.Models;
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

        @{
            GramofonskaPloca ploca = ViewBag.plocaZaPromenu;

        }
        <form action="~/Shop/ChangePloca" method="post">

            <p>
                Naziv:
            </p>

            <input type="text" value="@ploca.Naziv" name="Naziv" />

            <p>
                Izvodjac:
            </p>

            <input type="text" value="@ploca.Izvodjac" name="Izvodjac" />

            <p>
                Opis:
            </p>

            <input type="text" value="@ploca.Opis" name="Opis" />

            <p>
                Zanr:
            </p>

            <input type="text" value="@ploca.Zanr" name="Zanr" />

            <p>
                Stanje:
            </p>
            <input type="text" value="@ploca.StanjePloce" name="StanjePloce" />

            <p>
                Cena:
            </p>
            <input type="text" value="@ploca.Cena" name="Cena" />

            <p>
                Broj kopija na stanju:
            </p>
            <input type="text" value="@ploca.BrojKopija" name="BrojKopija" />

            <br />
            <br />

            <input type="submit" value="Sacuvaj" />

        </form>
    </body>
</html>
