﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
@using WD_DZ_PR_034_2018.Models;
@{
    Radnja radnja = ViewBag.radnja;
    List<GramofonskaPloca> ploce = (List<GramofonskaPloca>)ViewBag.ploceRadnje;
}

    <head>
        <title>@ViewBag.msg</title>
    </head>
    
    
    <body>
        <h2>@ViewBag.msg</h2>

        @{
            bool userSigned = (Korisnik)HttpContext.Current.Session["korisnik"] != null;
        }

        @if (userSigned)
        {
            <table>
                <tr>
                    <th>
                        <form action="~/Cart/Index" method="get">
                            <input type="submit" value="Moja korpa" />
                        </form>
                    </th>
                    <!--Postavi da moze da se prebaci na kupovine korisnika-->
                    <th>
                        <form action="~/Buys/Index" method="get">
                            <input type="submit" value="Moje kupovine" />
                        </form>
                    </th>
                    <th>
                        <form action="~/Home/LogOut" method="get">
                            <input type="submit" value="Odjava" />
                        </form>
                    </th>
                </tr>
            </table>
        }

        @if (radnja != null)
        {
            <h3>Dostupne ploce:</h3>

            <table border="1">

                <tr>
                    <th style="width:10%">
                        Sortiranje:
                    </th>
                    <th style="width:12%">
                        <form action="~/Shop/SortData" method="post">
                            <input type="hidden" value="rastucePoNazivu" name="tipSortiranja" />
                            <input type="submit" value="Rastuce po nazivu" name="rastucePoNazivu" />
                        </form>
                    </th>
                    <th>
                        <form action="~/Shop/SortData" method="post">
                            <input type="hidden" value="opadajucePoNazivu" name="tipSortiranja" />
                            <input type="submit" value="Opadajuce po nazivu" name="opadajucePoNazivu" />
                        </form>
                    </th>
                    <th style="width:10%">
                        <form action="~/Shop/SortData" method="post">
                            <input type="hidden" value="rastucePoIzvodjacu" name="tipSortiranja" />
                            <input type="submit" value="Rastuce po izvodjacu" name="rastucePoIzvodjacu" />
                        </form>
                    </th>
                    <th style="width:10%">
                        <form action="~/Shop/SortData" method="post">
                            <input type="hidden" value="opadajucePoIzvodjacu" name="tipSortiranja" />
                            <input type="submit" value="Opadajuce po izvodjacu" name="opadajucePoIzvodjacu" />
                        </form>
                    </th>
                    <th style="width:10%">
                        <form action="~/Shop/SortData" method="post">
                            <input type="hidden" value="rastucePoCeni" name="tipSortiranja" />
                            <input type="submit" value="Rastuce po ceni" name="rastucePoCeni" />
                        </form>
                    </th>
                    <th style="width:10%">
                        <form action="~/Shop/SortData" method="post">
                            <input type="hidden" value="opadajucePoCeni" name="tipSortiranja" />
                            <input type="submit" value="Opadajuce po ceni" name="opadajucePoCeni" />
                        </form>
                    </th>
                </tr>
                <tr>
                    <th style="width:10%">
                        Pretraga:
                    </th>
                    <th style="width:10%">
                        <form action="~/Shop/FilterData" method="post">
                            <select name="tipFiltriranja">
                                <option value="naziv">Naziv</option>
                                <option value="izvodjac">Izvodjac</option>
                            </select>
                            <br />
                            <br />
                            <input type="text" name="param" />
                            <br />
                            <br />
                            <input type="submit" value="Pretraga" name="pretraga" />
                        </form>
                    </th>
                    <th style="width:10%">
                        <form action="~/Shop/FilterData" method="post">
                            <input type="text" value="cena" name="tipFiltriranja" style="font-weight:bold" readonly />
                            <p>Pocetna cena:</p>
                            <input type="number" value="Pocetna cena" name="pocetnaCena" required />
                            <p>Krajnja cena:</p>
                            <input type="number" name="krajnjaCena" required />
                            <br />
                            <input type="submit" value="Pretraga po ceni" name="pretraga" />
                        </form>
                    </th>
                </tr>

                @for (int i = 0; i < ploce.Count; i++)
                {
                    var ploca = ploce[i];
                    string stanje = ploca.StanjePloce == STANJE_PLOCE.NOVA ? "Nova" : "Polovna";

                    <tr>
                        <td>
                            <form action="~/Cart/AddToCart" method="post">

                                <input type="hidden" value="@ploca.Naziv" name="Naziv" />
                                <p>
                                    Naziv: @ploca.Naziv
                                </p>

                                <input type="hidden" value="@ploca.Izvodjac" name="Izvodjac" />
                                <p>
                                    Izvodjac: @ploca.Izvodjac
                                </p>

                                <input type="hidden" value="@ploca.Opis" name="Opis" />
                                <p>
                                    Opis: @ploca.Opis
                                </p>

                                <input type="hidden" value="@ploca.Zanr" name="Zanr" />
                                <p>
                                    Zanr: @ploca.Zanr
                                </p>

                                <input type="hidden" value="@ploca.StanjePloce" name="StanjePloce" />
                                <p>
                                    Stanje: @stanje
                                </p>

                                <input type="hidden" value="@ploca.Cena" name="Cena" />
                                <p>
                                    Cena: @ploca.Cena.ToString()
                                </p>

                                <input type="hidden" value="@ploca.BrojKopija" name="BrojKopija" />
                                <p>
                                    Broj kopija na stanju: @ploca.BrojKopija.ToString()
                                </p>
                                <input type="hidden" value="@ploca.Radnja" name="Radnja" />
                                @if (HttpContext.Current.Session["korisnik"] != null && ploca.BrojKopija > 0)
                                {
                                    <input type="submit" value="Dodaj u korpu" />
                                }

                            </form>
                        </td>
                        @if (((Korisnik)HttpContext.Current.Session["korisnik"]) != null)
                        {
                            <td align="center">
                                @if (((Korisnik)HttpContext.Current.Session["korisnik"]).Uloga == ULOGA_KORISNIKA.ADMIN)
                                {
                                    <form action="~/Shop/DeletePloca" method="post">
                                        <input type="hidden" value="@ploca.Naziv" name="gpName" />
                                        <input type="submit" value="Izbrisi plocu" name="@ploca.Naziv" />
                                    </form>

                                    <br />

                                    <form action="~/Shop/ChangePloca" method="get">
                                        <input type="hidden" name="gpName" value="@ploca.Naziv" />
                                        <input type="submit" value="Promeni plocu" />
                                    </form>
                                }
                            </td>
                        }
                    </tr>
                }
            </table>

            if (((Korisnik)HttpContext.Current.Session["korisnik"]) != null)
            {
                if (((Korisnik)HttpContext.Current.Session["korisnik"]).Uloga == ULOGA_KORISNIKA.ADMIN)
                {
                    <br />

                    <form action="~/Shop/AddPloca" method="get">
                        <input type="submit" value="Dodaj Plocu" />
                    </form>
                }
            }
        }


        <br />
        <form action="~/Home/Index" method="get">
            <input type="submit" value="Pocetna strana" />
        </form>
    </body>
</html>